//colors
$color_bunker_approx: rgb(19, 19, 19);
$white: rgb(255, 255, 255);
$color_rangoon_green_approx: #181a1b;
$color_tory_blue_approx: #134db6;
$black: #000;
$color_shark_50_approx: rgba(34,36,39,.5);
$color_gallery_approx: #f1f0ec;
$color_shark_approx: #1f2126;
$color_cararra_approx: #efede8;

//fonts
$font_0: ArgentCF-DemiBold;
$font_1: ArgentCF-Bold;
$font_2: ArgentCF-Light;
$font_3: ArgentCF-Thin;
$font_4: ArgentCF-Regular;
$font_5: Avenir-Light;
$font_6: Avenir-Medium;
$font_7: Avenir-Heavy;
$font_8: Helvetica Neue;
$font_9: Helvetica;
$font_10: Arial;
$font_11: Lucida Grande;
$font_12: sans-serif;
$font_13: avenir-heavy;

//urls
$url_0: url(fonts/ArgentCF-DemiBold.woff2);
$url_1: url(fonts/ArgentCF-Bold.woff2);
$url_2: url(fonts/ArgentCF-Light.woff2);
$url_3: url(fonts/ArgentCF-Regular.woff2);
$url_4: url(fonts/avenir_light.woff2);
$url_5: url(fonts/avenir_medium.woff2);
$url_6: url(fonts/avenir_heavy.woff2);
$url_7: url(images/sunset.svg);
$url_8: url(images/sailboat.svg);
$url_9: url(images/instagram.svg);
$url_10: url(images/stackoverflow.svg);
$url_11: url(images/linkedin.svg);
$url_12: url(images/twitter.svg);
$url_13: url(images/facebook.svg);
$url_14: url(images/mobile-brand-bg.png);
$url_15: url(images/seagulls.svg);

//@extend-elements
//original selectors
//#homepage .page-title h1, #homepage .page-title h2
%extend_1
{
    font-size: 2em;

    margin: 0;
    padding: 0;
}

//original selectors
//.downalad-links a, .downalad-links a:link, .downalad-links a:visited
%extend_2
{
    font-family: $font_13;
    font-size: 1.3em;

    cursor: pointer;
    text-decoration: underline;
    letter-spacing: .04em;

    color: $color_tory_blue_approx;
}


body
{
    font-family: $font_5, $font_8, $font_9, $font_10, $font_11, $font_12;

    margin: 0;
    padding: 0;

    color: $color_rangoon_green_approx;
    background: $white;

    text-rendering: optimizeLegibility;
}
@font-face
{
    font-family: $font_0;
    font-weight: 500;

    src: $url_0 format('woff2');
}
@font-face
{
    font-family: $font_1;
    font-weight: 700;

    src: $url_1 format('woff2');
}
@font-face
{
    font-family: $font_2;
    font-weight: 200;

    src: $url_2 format('woff2');
}
@font-face
{
    font-family: $font_3;
    font-weight: 100;

    src: $url_2 format('woff2');
}
@font-face
{
    font-family: $font_4;
    font-weight: 300;

    src: $url_3 format('woff2');
}
@font-face
{
    font-family: $font_5;
    font-weight: 500;

    src: $url_4 format('woff2');
}
@font-face
{
    font-family: $font_6;
    font-weight: 500;

    src: $url_5 format('woff2');
}
@font-face
{
    font-family: $font_7;
    font-weight: 700;

    src: $url_6 format('woff2');
}
h2
{
    font-family: $font_3;
    font-size: 42px;
    font-weight: 100;
    line-height: 1.2em;

    padding: 20px 0;
}
h3
{
    font-weight: 300;

    margin: 30px 0 20px;
}
h4
{
    font-family: $font_7;

    margin: 30px 0 20px;

    color: $color_tory_blue_approx;
}
p
{
    font-size: 1em;
    line-height: 2em;
    &.second-paragraph
    {
        margin-top: 70px;
    }
}
a
{
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .2s;
    text-decoration: none;

    color: $black;
    &:hover
    {
        color: $color_tory_blue_approx;
    }
}
.quote
{
    font-family: $font_7;
    font-size: 1.5em;
    font-weight: 600;
    p
    {
        line-height: 1.6em;

        margin-top: 10px;
    }
}
ul
{
    margin: 20px 0 64px;
    padding: 0;

    list-style-type: none;
}
.container
{
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    margin: auto 0;
    padding: 20px;
    .large
    {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        max-width: 1300px;
        margin: auto;
    }
    .small
    {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        max-width: 760px;
        margin: auto;
    }
}
.column
{
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    .full
    {
        width: 100%;
    }
    .left
    {
        display: inline-block;
        //Instead of the line below you could use @include box-sizing($bs)

        box-sizing: border-box;
        width: 49%;
        padding-right: 30px;

        vertical-align: top;
    }
    .right
    {
        display: inline-block;
        //Instead of the line below you could use @include box-sizing($bs)

        box-sizing: border-box;
        width: 50%;
        padding-left: 30px;

        vertical-align: top;
    }
}
.meta
{
    font-family: $font_7;
    font-size: .9em;
    font-weight: 800;

    display: inline-block;

    margin-right: 40px;
}
.meta::before
{
    font-size: .6em;

    display: block;

    margin-bottom: 8px;

    content: attr(title);
    letter-spacing: .2em;
    text-transform: uppercase;

    color: $color_shark_50_approx;
}
#homepage
{
    .label
    {
        font-family: $font_13;
        font-size: .75em;

        letter-spacing: .2em;
        text-transform: uppercase;

        color: $color_tory_blue_approx;
    }
    h3
    {
        font-family: $font_0;
        font-size: 1.8em;
        a:hover
        {
            color: $color_tory_blue_approx;
        }
    }
    h4
    {
        font-family: $font_0;
        font-size: 1.4em;
        a:hover
        {
            color: $color_tory_blue_approx;
        }
    }
    .page-title
    {
        margin: 80px 0 32px;
        h1
        {
            font-family: $font_1;

            @extend %extend_1;
        }
        h2
        {
            font-weight: 200;

            @extend %extend_1;
        }
    }
    .resume
    {
        margin-top: 20px;
        li
        {
            margin: 0 0 20px 0;
        }
        .role
        {
            font-family: $font_7;
            font-size: .9em;

            margin: 4px 0;
        }
        .date
        {
            font-size: .9em;

            color: $color_shark_50_approx;
        }
        .company
        {
            font-size: .9em;
        }
        .skill
        {
            font-family: $font_7;
            font-size: .9em;
        }
    }
    a:hover
    {
        color: $color_tory_blue_approx;
    }
}
.sunset
{
    display: block;

    width: 100%;
    height: 500px;
    margin: -100px 0 32px;

    background-image: $url_7;
    background-repeat: no-repeat;
    background-position: center;
}
.notebook
{
    margin: -250px 0 0;
}
.sailboat
{
    position: relative;
    top: -100px;
    right: -300px;

    display: block;

    width: 200px;
    height: 320px;

    background-image: $url_8;
    background-repeat: no-repeat;
    background-position: center;
}
.social
{
    ul
    {
        margin-left: -10px;
    }
    li
    {
        display: inline-block;
        &:hover
        {
            cursor: pointer;
            cursor: hand;

            opacity: 1;
        }
    }
}
.email
{
    font-family: $font_6;

    height: 20px;
    padding: 10px;

    vertical-align: top;
}
.footer
{
    margin-top: -60px;
    h3 a
    {
        font-family: $font_0;
        font-size: 1.4em;
    }
    h4 a
    {
        font-family: $font_0;
        font-size: 1.4em;
    }
}
.article
{
    .page-title
    {
        margin-top: 32px;
    }
    h1
    {
        margin: 64px 0;
    }
    h2
    {
        font-family: $font_0;
        font-size: 2.2em;
    }
    .workflow-detail
    {
        margin-top: -60px;
    }
    a
    {
        font-family: $font_7;
    }
    .footer
    {
        margin-top: 100px;
        padding-top: 50px;

        background: $color_gallery_approx;
        .label
        {
            font-family: $font_13;
            font-size: .75em;

            letter-spacing: .2em;
            text-transform: uppercase;

            opacity: 1!important;
            color: $color_tory_blue_approx;
        }
    }
    p.caption
    {
        font-size: .9em;

        color: $color_shark_50_approx;
    }
}
.chat-bubble
{
    position: relative;
    top: 20px;
    left: -260px;

    display: block;

    width: 628px;
    height: 370px;

    background-repeat: no-repeat;
}
video
{
    margin: 20px 0;
}
.component-library
{
    li
    {
        padding-bottom: 8px;
    }
    ul
    {
        margin-bottom: 32px;
        li:first-of-type
        {
            font-family: $font_7;
        }
    }
}
#brand
{
    .label
    {
        font-family: $font_7;
        font-size: .75em;

        letter-spacing: .2em;
        text-transform: uppercase;

        opacity: .5;
    }
    h2
    {
        margin: 0 0 10px 0;
        padding-top: 10px;
    }
}
.product-brand-container
{
    max-width: 1300px;
    margin: 100px auto 200px auto;
    padding: 100px 0 275px;

    background-color: $color_gallery_approx;
    .brand-insights
    {
        margin-top: 20px;
    }
    .brand-chat
    {
        position: absolute;

        max-width: 760px;
        margin-top: 50px;
    }
}
.mobile-brand-container
{
    max-width: 1300px;
    margin: 100px auto 100px auto;
    padding: 100px 0 400px;

    color: $white;
    background-color: $black;
    background-image: $url_14;
    background-repeat: no-repeat;
    background-size: 105%;
    a
    {
        color: $white!important;
        &:hover
        {
            opacity: .5;
        }
    }
    .brand-insights
    {
        margin-top: 20px;
    }
    .brand-chat
    {
        position: absolute;

        max-width: 760px;
        margin-top: 50px;
    }
}
.syllabus-container
{
    max-width: 1300px;
    margin: 100px auto;
    padding: 200px 0 100px;

    color: $white;
    background-color: $color_shark_approx;
    .right
    {
        margin-top: 350px;
    }
    p
    {
        position: relative;
        z-index: 1;
    }
    h2
    {
        font-size: 2.4em;

        position: relative;
        z-index: 1;
    }
    a
    {
        font-family: $font_7;

        color: $white;
    }
}
.syllabus-image-1
{
    position: absolute;
    z-index: 0;

    width: 664px;
    margin-top: -675px;
    margin-left: -150px;
}
.gfda-video
{
    position: relative;

    height: 0;
    margin: 50px 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    iframe
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}
.product-of-people-container
{
    margin: 50px 0;
}
.special-thanks
{
    line-height: 1.4em;

    margin: 50px 0;
}
.brand-product-journey
{
    margin: 50px 0;
}
.syllabus-image-2
{
    position: absolute;
    z-index: 0;

    width: 496px;
    margin-top: -10px;
    margin-left: -140px;
}
.syllabus-link
{
    margin-top: 64px;
    &:hover a
    {
        opacity: .5;
    }
}
.financial-hints
{
    max-width: 864px;
    margin: 64px auto;
    img
    {
        width: 100%;
    }
}
.coming-soon::after
{
    font-family: $font_6;
    font-size: .4em;

    margin-left: 10px;

    content: 'COMING SOON';
    vertical-align: middle;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: $color_shark_50_approx;
}
.reading::after
{
    font-family: $font_6;
    font-size: .4em;

    margin-left: 10px;

    content: 'READING';
    vertical-align: middle;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: $color_shark_50_approx;
}
.mobile-header-fix
{
    position: relative;
    z-index: -1;
    top: -350px;

    width: 100%;
    height: 460px;
    img
    {
        width: 100%;
    }
}
.n1-outline
{
    max-width: 1068px;
    margin: auto;
}
.n1-first-paragraph
{
    margin-top: -200px;
}
.n2-front
{
    max-width: 470px;
    margin: -160px 0 0 -60px;
}
.b1-first-paragraph
{
    margin-top: 100px;
}
.b1-container
{
    max-width: 1300px;
    margin: 100px auto;

    background-color: $color_cararra_approx;
    .quote
    {
        margin-top: 40px;
    }
    .container
    {
        padding: 80px 20px 0;
    }
}
.seagulls
{
    position: absolute;
    z-index: -1;

    display: block;

    width: 266px;
    height: 75px;
    margin-top: -50px;
    margin-left: 100px;

    background-image: $url_15;
}
#cyeBlackMaskLayer
{
    position: fixed;
    z-index: -2147483648;

    width: 1980px;
    height: 1080px;

    background-color: $color_bunker_approx;
}
#cye-workaround-body
{
    position: absolute;
    z-index: -2147483646;
    top: 0;
    left: 0;

    width: 1292px;
    height: 2332px;

    background: none 0 0 / auto repeat scroll padding-box border-box $white;
}
#cye-workaround-body-image
{
    position: absolute;
    z-index: -2147483645;
    top: 0;
    left: 0;

    width: 1292px;
    height: 2332px;

    background: none 0 0 / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
}
@media screen and(max-width: 768px)
{
    .mobile-header-fix
    {
        position: relative;
        z-index: -1;
        top: -60px;

        width: 100%;
        height: 300px;
        img
        {
            width: 100%;
        }
    }
    .n1-first-paragraph
    {
        margin-top: -50px;
    }
    .n2-front
    {
        max-width: 100%;
        margin: 0;
    }
    .b1-container
    {
        .container
        {
            padding: 20px 20px 0 20px;
        }
        .b1-first-paragraph
        {
            margin: 0;
        }
    }
    .sunset
    {
        height: 150px;
        margin: -50px 0 20px;

        background-size: cover;
    }
    .chat-bubble
    {
        position: relative;
        top: 0;
        left: 0;

        display: block;

        width: auto;
        height: auto;

        background-repeat: no-repeat;
    }
    .syllabus-image-1
    {
        position: relative;

        width: 100%;
        margin: 0;
    }
    .syllabus-image-2
    {
        display: none;
    }
    .syllabus-container
    {
        padding: 100px 0;
        .right
        {
            margin: 0;
        }
    }
    .product-brand-container
    {
        margin: 100px auto 0 auto;
        padding: 100px 0 0;
        .brand-chat
        {
            position: relative;
        }
    }
    .mobile-brand-container
    {
        padding: 100px 0;

        background-image: none;
    }
    .notebook
    {
        margin: 0;
    }
    #homepage
    {
        .page-title
        {
            margin: 64px 0 32px;
        }
        .footer
        {
            margin: 0;
        }
    }
    .sailboat
    {
        display: none;
    }
    .column
    {
        .left
        {
            width: 100%;
            padding-right: 0;
        }
        .right
        {
            width: 100%;
            padding-left: 0;
        }
    }
    #cyeBlackMaskLayer
    {
        position: fixed;
        z-index: -2147483648;

        width: 100%;
        height: 1080px;

        background-color: $color_bunker_approx;
    }
    #cye-workaround-body
    {
        position: absolute;
        z-index: -2147483646;
        top: 0;
        left: 0;

        width: 100%;
        height: 2332px;

        background: none 0 0 / auto repeat scroll padding-box border-box $white;
    }
    #cye-workaround-body-image
    {
        position: absolute;
        z-index: -2147483645;
        top: 0;
        left: 0;

        width: 100%;
        height: 2332px;

        background: none 0 0 / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    }
}
.page-title h3
{
    font-size: 1em;
    font-weight: 800;

    display: inline-block;

    margin: 0;
    margin-right: 10px;
    padding: 0;
    &.role
    {
        font-weight: 300;

        margin: 0;
    }
}
.instagram a
{
    display: block;

    width: 20px;
    height: 20px;
    padding: 10px;

    background-image: $url_9;
    background-repeat: no-repeat;
    background-position: center;
    &:hover
    {
        opacity: .5;
    }
}
.stackoverflow a
{
    display: block;

    width: 20px;
    height: 20px;
    padding: 10px;

    background-image: $url_10;
    background-repeat: no-repeat;
    background-position: center;
    &:hover
    {
        opacity: .5;
    }
}
.linkedin a
{
    display: block;

    width: 20px;
    height: 20px;
    padding: 10px;

    background-image: $url_11;
    background-repeat: no-repeat;
    background-position: center;
    &:hover
    {
        opacity: .5;
    }
}
.twitter a
{
    display: block;

    width: 20px;
    height: 20px;
    padding: 10px;

    background-image: $url_12;
    background-repeat: no-repeat;
    background-position: center;
    &:hover
    {
        opacity: .5;
    }
}
.facebook a
{
    display: block;

    width: 20px;
    height: 20px;
    padding: 10px;

    background-image: $url_13;
    background-repeat: no-repeat;
    background-position: center;
    &:hover
    {
        opacity: .5;
    }
}
.small img
{
    width: 100%;
    margin: 0 auto;
    margin: 20px 0 0;
}
.large img
{
    width: 100%;
    margin: 0 auto;
}
#fourohfour.article h1
{
    margin-bottom: 0;
}
.b1-close-up img
{
    vertical-align: bottom;
}
#side-projects h1
{
    font-size: 2.6em;
}
.downalad-links a
{
    @extend %extend_2;
    &:link
    {
        @extend %extend_2;
    }
    &:visited
    {
        @extend %extend_2;
    }
}
